<!DOCTYPE html>
<html lang="en" ng-app="hol" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Oracle Hands-on Labs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js'></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="css/lab.css">
  <link rel="shortcut icon" href="https://oracle.github.io/learning-library/workshops/common-content/fav.ico" />
</head>
<body ng-cloak ng-controller="holController" md-theme="{{theme}}" class="{{theme}}" layout="column">
    <!--    TOP TOOLBAR-->
    <md-toolbar class="md-hue-2 infra" flex="none" layout-padding>
      <div class="md-toolbar-tools infra">
        <md-button class="md-icon-button md-raised md-accent infra" aria-label="menu-button" ng-click="toggleLeft()">
          <img src="https://oracle.github.io/learning-library/workshops/common-content/images/common/hamburger.png" class="menu-hamburger infra" />
        </md-button>
        <h2 class="infra" flex="noshrink">
          <span class="infra">{{manifest.lab.title}}</span>
        </h2>
        <div flex="grow" layout="row" layout-align="end center" >
          <md-button class="high-contrast-hover" aria-label="Home" ng-click="showHomePage()">
            Home
          </md-button>
        </div>
      </div>
    </md-toolbar>

    <!--    SIDE NAV MENU -->
    <md-sidenav class="md-sidenav-left infra" md-component-id="left" md-whiteframe="4">
      <md-toolbar class="md-hue-2 infra">
        <h1 class="md-toolbar-tools infra">Lab Contents</h1>
      </md-toolbar>
      <md-content style="height: 110%;">
        <md-list>
          <md-list-item class="md-3-line toc-item infra" ng-repeat="module in manifest.lab.modules" ng-click="loadModule(module); close();">
            <div class="md-list-item-text infra">
              <h3 class="infra" style="overflow: visible; white-space: normal;">{{module.title}}</h3>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
        <md-button ng-click="close()" class="md-primary infra">
          Close Menu
        </md-button>
      </md-content>
    </md-sidenav>

    <div id="toastHolder"></div>

    <!-- MODULE CONTENT -->
    <div id='module-content' ng-bind-html='htmlContent' ng-show="selection == 'lab'">
        <!-- content filled dynamically -->
    </div>

    <div id='returnToTop' layout layout-align="center center" ng-show="selection == 'lab'">
        <a href="#" layout-margin layout-padding>^ Return to Top</a>
    </div>

    <script src='js/lab.js'></script>
</body>
</html>
